cffi==1.9.1
cryptography==1.9
enum34==1.1.2
Flask==0.10.1
gunicorn==19.6.0
idna==2.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mccabe==0.4.0
pika==0.10.0
pyasn1==0.1.9
PyJWT==1.4.2
pycparser==2.14
requests==2.12.4
sdx-common==0.7.0
six==1.10.0
structlog==16.1.0
Werkzeug==0.11.9
sdc-cryptography==0.1.0